files:
  "/etc/httpd/conf.d/timeout.conf":
    mode: "000644"
    owner: root
    group: root
    content: |
      Timeout 300
      ProxyTimeout 300
      KeepAlive On
      KeepAliveTimeout 65
      <IfModule mod_reqtimeout.c>
        RequestReadTimeout header=60-300,MinRate=500 body=60,MinRate=500
      </IfModule>

commands:
  restart_httpd:
    command: "sudo service httpd restart"