# Cron files
files:
    "/etc/cron.d/moodle-cron":
        mode: "000644"
        owner: root
        group: root
        content: |
            * * * * *  root /usr/local/bin/moodle-cron.sh > /dev/null
    
    "/usr/local/bin/moodle-cron.sh":
        mode: "000755"
        owner: root
        group: root
        content: |
            #!/bin/bash
            export APP_WWWROOT="https://app.kavaedu.com.br"
            export RDS_DB_NAME="ebdb"
            export RDS_HOSTNAME="kavaedu-lms-db.ccls20iwuwxm.us-east-1.rds.amazonaws.com"
            export RDS_PASSWORD="WttyecgPKDVqLu290cai"
            export RDS_USERNAME="ebroot"

            # Execute script to process schedules
            /usr/bin/php /var/www/html/admin/cli/cron.php

            exit 0
 
commands:
    remove_old_cron:
        command: "rm -f /etc/cron.d/*.bak"